@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

/* Set a background color */

/* The actual timeline (the vertical ruler) */
/* timeline-elem around content */


.timeline-elem {
	position: relative;
	background-color: inherit;
  /* padding: 6px 0; */
	width: 50%;
}

/* Place the timeline-elem to the left */
.left {
	left: 0;
}

/* Place the timeline-elem to the right */
.right {
	left: 50%;
}

/* The actual content */
.content {
	background-color: white;
	position: relative;
	border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1278px) {

	/* Full-width timeline-elems */
	.timeline-elem {
		width: 100%;
		padding-left: 20px;
	}

	/* Make all right timeline-elems behave like the left ones */
	.right {
		left: 0%;
	}
}

@media screen and (max-width: 1024px) {

	/* Full-width timeline-elems */
	.timeline-elem {
		padding-left: 0;
	}
}
